@import '/src/styles/variables';

.container {
	background-color: var(--color-primary);
	border-radius: $border-rad-heavy;
	color: var(--color-text-secondary);
	font-weight: 700;
	padding: 1em;
	text-align: center;
	&:hover {
		opacity: 0.9;
	}
}
